html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;

}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;

}

.mdc-dialog {
  z-index: 2; /* Ensure the dialog is on top of the map */
}


body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 800;
    text-align: center;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-left: 0px;
}


.images{
  display: flex;
  flex-direction: column;
  gap : 10px
}
.content-logo {
  height: 50px;
  width: auto;
  margin: 16px;
  margin: auto;
}

.content-name {
  width: 120px;
  margin: auto;
  height: auto;
  top: 0;
  right: 0;
  /* margin: 16px; */
}
.content-subtitle{
  margin: 0;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-size: 1em;
}

.content-title{
  margin: 0;
}

#map {
    height: 100vh;
    position: relative;
}


.lineup {
text-align: center;
}

.time-column {
  margin-top: 0;
  list-style-type: none;
}

.artist-column {
  list-style-type: none;
}



#mapButton {
  position: absolute;
  top: 100px;
  left: 10px;
  z-index: 1;
  background-color: #fff; /* White background */
  border-radius: 50%; /* Round shape (circular button) */
  padding: 12px; /* Increase padding for better visibility */
}



.flex-section {
  display: flex;
  align-items: center;
  margin-right: 2px
}

.flex-section strong {
  margin-right: 2px;
}
